body {
  margin:      0px 10px 10px 10px;
  font-family: "Trebuchet MS", sans-serif;
  font-size:   10pt;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
  background:  #990000;
  font-weight: normal;
  color:       #FFF;
  padding:     5px 10px;
  margin:      0px -10px 10px -10px;
}

h2 {
  font-family: "Trebuchet MS", sans-serif;
  color: #990000;
}

.sidebar {
  border: 1px solid #990000;
  background: #EEE;
  padding: 5px;
} 

.announcement {
  border: 1px solid #990000;
  padding: 5px;
}

pre.code_sample {
  background: #EEE;
  padding: 5px;
}

dt {
  font-weight: bold;
}

dl {
  margin-left: 3em;
}

DIV.announcement dl {
  margin-left: 0px;
}

div.NAV {
  background: #000;
  margin: 0px -10px;
  padding: 2px 10px;
  color: #CCC;
  font-size: 12pt;
  font-weight: bold;
}

div.NAV A {
  color: #CCC;
  text-decoration: none;
}

div.NAV A:hover {
  color: #FFF;
}

.ednote {
  color: #999;
  font-style: italic;
}

.cvs_id {
  color: #999;
  font-size: 8pt;
  border-top: solid 1px #999;
}

